.container {
  max-width: 400px;
  width: 100vw;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
}

.produit {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.produit:last-child {
  border-bottom: none;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #1976d2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #125a9c;
}