.book-table
{
    width:100%;
    border-collapse:collapse;
}
.book-table th, .book-table td
{
    padding:0.5rem;
    border:1px
    solid
    #ddd;
    text-align:left;
}
.book-table th
{
    background:#f5f5f5;
}

.action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 0;
}