body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 50px;
}

p {
    position: absolute;
    bottom: 20px;
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1000;
}